*{
  margin: 0px;
  padding:0px;
  
}
body{
  height: 100vh;
  background-color: pink;
}


.mainContainer{

}


.profileContainer{
  width: 380px;
  margin:  0 auto;
 
}

.each-Container{
  height: 55px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
 
  margin-top: 20px; 
  margin-bottom: 12px; 
  border-radius: 8px;
}
.imgContainer{
  width: 50px;
  height: 50px;
}

.imgContainer img{
  width:100%;
  height: inherit;
  border-radius: 50%;
}



.btn-container{
  margin-top: 30px;
  text-align: center;
}
.btn-Clear{
  color: white;
  background-color: red;
  outline: none;
  border: none;
  height: 35px;
  width: 80%;
  border-radius: 6px;

}